/*--------вертикальное расположение карточки----------------*/
.catalog-grid .product-item, .product_slider .product-item {
    height: auto;
}
.product-delivery-block{
    margin-bottom: 20px;
}
.product-delivery-block_text{
    display: block;
    color: #737373;
    font-size: 13px;
}

.product-delivery-block_text a{
    margin-left: 5px;
}
/*-----------горизонтальное расположение карточки-------------*/
.product-item_action-cell .product-delivery-block{
    padding: 10px 15px;
    background: #F5F5F5;
    margin-top: 10px;
    margin-bottom: 0;
}
