.page-title {
    position: relative;
}
.product-info-box {
    background-color: #ffffff;
}
.product-info-box_count{
    margin-top: 20px;
    padding: 0 20px;
}

.catalog-item-AB .brand-link {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.credit-small-block {
    background: #ffffff;
    padding: 0;
    border: none;
    border-radius: 0;
    margin-top: 65px;
}
.product-info-box {
    margin-bottom: 0;
}

.catalog-item-AB .product-info-box {
    position: relative;
}
.product-info-box {
    margin-bottom: 0;
}
.product-info-box {
    background-color: #ffffff;
}
.product-info-box {
    padding: 15px 0 0;
}

.price-and-avail {
    padding: 0 20px;
}
.product-buy-one-click{
    display: table;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #CCCCCC;
    background-color: #f5f5f5;
}

.product-buy-one-click .product-buy-tel,
.product-buy-one-click .product-buy-btn{
    display: table-cell;
    vertical-align: top;

}
.product-buy-one-click .product-buy-tel{
    width: 55%;
    border: 1px solid #CCCCCC;
}
.product-buy-one-click .product-buy-btn{
    width: 45%;
    border: 1px solid #CCCCCC;
    border-left: 0;
}
.product-buy-one-click .product-buy-tel span{
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 15px;
    display: block;
}
.product-buy-one-click .product-buy-btn span{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #005EAD;
    text-align: center;
    padding: 10px 15px;
    display: block;
}





/*---------catalog-delivery------------------*/

.catalog-delivery{
    padding-top: 20px;
    background: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 20px;
}
.catalog-delivery_title{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
}
.catalog-delivery_section{
    margin-bottom: 20px;
    padding: 0 20px;
}
.catalog-delivery_list .text-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 12px;
}
.catalog-delivery_list .text-list_name-col,
.catalog-delivery_list .text-list_value-col,
.catalog-delivery_list .img-col{
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}
.catalog-delivery_list .text-list_name-col {
    width: 65%;
}
.catalog-delivery_list .text-list_value-col {
    width: 35%;
    font-weight: bold;
    text-align: right;
}
.catalog-delivery_list .img-col{
    width: 5%;
}
.catalog-delivery_list .text-list_name {
    padding-right: 12px;
    color: #737373;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.catalog-delivery_list .text-list_value{
    padding-left: 12px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.catalog-delivery_list .text-list_name-col:after {
    content: "";
    display: block;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    height: 1px;
    background: transparent linear-gradient(to right, #CCC 0px, #CCC 1px, transparent 1px, transparent 3px) repeat-x scroll 0% 0% / 3px 1px;
}
.catalog-delivery_list .text-list_value-col:before {
    content: "";
    display: block;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    height: 1px;
    margin-left: 1px;
    background: transparent linear-gradient(to right, #CCC 0px, #CCC 1px, transparent 1px, transparent 3px) repeat-x scroll 0% 0% / 3px 1px;
}


.catalog-delivery_list .icon__check-delivery{
    position: absolute;
    left: 0;
    margin-top: 3px;
    margin-left: 8px;
    bottom: 3px;
}
.catalog-delivery_list .icon__check-green {
    background: url("../img/icon-ok_green.png") center no-repeat;
    width: 15px;
    height: 15px;
}
.catalog-delivery_list .icon__check-close {
    background: url("../img/icon-close.png") center no-repeat;
    width: 15px;
    height: 15px;
}
.catalog-delivery_section p{
    font-size: 13px;
    line-height: 18px;
    color: #737373;
}
.catalog-delivery_bottom{
    padding: 10px 20px;
    border-top: 1px solid #E5E5E5;
    font-size: 13px;
    line-height: 15px;
}
.catalog-delivery_bottom.text_light{
    background-color: #f5f5f5;
    color: #737373;
}
.catalog-delivery_link{
    padding: 0 20px 10px 20px;
    font-size: 13px;
    line-height: 18px;
}

.catalog-delivery_link a {
    display: table;
    margin-bottom: 10px;
}

@media (max-width: 767px){
    .catalog-delivery_list .text-list_name-col {
        width: 58%;
    }
    .catalog-delivery_list .text-list_value-col {
        width: 35%;
    }
    .catalog-delivery_list .img-col {
        width: 7%;
    }
}
@media (max-width: 400px) {
    .catalog-delivery{
        width: 100%;
    }
    .catalog-delivery_list .text-list_name {
        font-size: 12px;
    }
    .catalog-delivery_list .text-list_value {
        font-size: 12px;
    }
    .catalog-delivery_list .text-list_value-col:before {
        top: 80%;
    }
    .catalog-delivery_list .text-list_name-col:after {
        top: 80%;
    }
    .catalog-delivery_list .text-list_name {
        padding-right: 8px;
    }
    .catalog-delivery_list .text-list_value {
        padding-left: 8px;
    }
}


/*--------------*/
.product-info-calculator{
    padding: 20px;
    border-top: 1px solid #CCCCCC;

}
.product-info-calculator img,
.product-info-calculator a{
    display: inline-block;
    vertical-align: middle;
}
.product-info-calculator img{
    margin-right: 10px;
}


.foot-text{
    width: 70px;
    display: inline-block;
    font-size: 14px;
}
.color-red{
    color: red;
}
.input-sm{
    width: 60px;
}









/*-----------последние стили-----------------------*/

.catalog-item-main_content .loyalty-product-bonus-info .sale {
    padding: 1px 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
}
.catalog-item-main_content .loyalty-product-bonus-info .sale_red {
    background: #EF2E23;
}
.catalog-item-main_content .loyalty-product-bonus-info .sale_green {
    background: #46AA42;
}
.catalog-item-main_content .loyalty-product-bonus-info .count-bonus{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.catalog-item-main_content .loyalty-product-bonus-info .count-bonus_red {
    color: #EF2E23;
}
.catalog-item-main_content .loyalty-product-bonus-info .count-bonus_green {
    color: #46AA42;
}
.loyalty-product-bonus-info .img-block{
    background: url("../img/image 34.png") center center no-repeat;
    display: inline-block;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    position: relative;
}
.loyalty-product-bonus-info .img-block:after{
    position: absolute;
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: transparent;
    top: 20px;
    left: 1px;
    z-index: 3;
}
.loyalty-product-bonus-info:hover  .img-block:after{
    background-color: #ffffff;
}
.loyalty-product-bonus-info{
    position: relative;
}
.bonus-info_dop-block{
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08), 0px 2px 6px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    top: 32px;
    left: 20px;
    z-index: 2;
    display: none;
}
.catalog-item-main_content .bonus-info_dop-block .title{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
}
.catalog-item-main_content .bonus-info_dop-block .text{
    font-size: 13px;
    line-height: 18px;
    color: #737373;
    margin-top: 10px;
}
.bonus-info_dop-block .title .text-red{
    color: #EF2E23;
}
.bonus-info_dop-block .title .text-green{
    color: #46AA42;
}
.bonus-info_dop-block .loyalty-product-info{
    padding: 0 0 10px;
}
.bonus-info_dop-block .loyalty-product-info .text{
   margin: 0;
    padding: 8px;
    background-color: #FEF5E9;
}
.loyalty-product-bonus-info:hover .bonus-info_dop-block{
    display: block;
}
@media screen and  (max-width: 1269px) {
    .bonus-info_dop-block {
        top: 52px;
    }
}
@media screen and  (max-width: 999px) {
    .bonus-info_dop-block {
        top: 32px;
    }
}
@media screen and  (max-width: 375px) {
    .bonus-info_dop-block {
        top: 52px;
    }
}




