
/*-------страница товара----------*/
.catalog-item_dop-block{
    height: 90px;
    background-color: red;
    margin: 30px -20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catalog-item .nav-row-wrap {
    margin: 0 -20px 30px;
}
@media (max-width: 767px) {
    .catalog-item_dop-block{
        height: 100px;
        margin: 30px -15px 0;
    }
}
/*-------категория----------*/

.content-table_dop-block{
    height: 400px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-item_dop-block{
    height: 60px;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .product-item_dop-block{
        height: 100px;
    }
}
