.popup__delivery{
    width: 540px;
}
.popup_body {
    max-height: initial;
    overflow: auto;
}
.popup__delivery .popup_header{
    border-radius: 4px 4px 0 0;
    padding: 15px 65px 15px 30px;
}
.popup__delivery .popup_title {
    font-size: 17px;
    line-height: 20px;
}
.popup__delivery .popup_close-btn {
    top: 16px;
    right: 16px;
    width: 17px;
    height: 17px;
}
.popup__delivery .css-big-close-icon {
    width: 17px;
    height: 17px;
}
.popup__delivery .css-big-close-icon:before,
.popup__delivery .css-big-close-icon:after {
    width: 20px;
    margin-top: -2px;
    margin-left: -2px;
}
.popup__delivery .popup_body-section{
    padding: 30px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0;
}
.popup__delivery .popup_body-section .section-block{
    margin-bottom: 20px;
}
.popup__delivery .popup_body-section:last-child{
    border-bottom: 0;
}
.popup__delivery .popup_body-section .section-block:last-child{
    margin-bottom: 0;
}
.popup__delivery .popup_body-title{
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}
.popup__delivery .popup_body{
    padding: 0;
}
.popup_delivery-list{
    margin-top: 8px;
}
.popup_delivery-list .text-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    color: #737373;
    margin-bottom: 8px;
}
.popup_delivery-list .text-list:last-child{
    margin-bottom: 0;
}
.popup_delivery-list .text-list_name-col,
.popup_delivery-list .text-list_value-col,
.popup_delivery-list .img-col{
    display: table-cell;
    vertical-align: bottom;
    position: relative;
}
.popup_delivery-list .text-list_name-col {
    width: 65%;
}
.popup_delivery-list .text-list_value-col {
    width: 35%;
    font-weight: bold;
    text-align: right;
}
.popup_delivery-list .text-list_value-col .spec-cod{
    font-size: 13px;
    line-height: 15px;
    color: #CCCCCC;
    padding: 0 3px;
}
.popup_delivery-list .text-list_name {
    padding-right: 12px;
    color: #737373;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.popup_delivery-list .text-list_value{
    padding-left: 12px;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.popup_delivery-list .img-col{
    width: 5%;
}
.popup_delivery-list .text-list_name-col:after {
    content: "";
    display: block;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    height: 1px;
    background: transparent linear-gradient(to right, #CCC 0px, #CCC 1px, transparent 1px, transparent 3px) repeat-x scroll 0% 0% / 3px 1px;
}
.popup_delivery-list .text-list_value-col:before {
    content: "";
    display: block;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    height: 1px;
    margin-left: 1px;
    background: transparent linear-gradient(to right, #CCC 0px, #CCC 1px, transparent 1px, transparent 3px) repeat-x scroll 0% 0% / 3px 1px;
}
/* --- это не надо --- */
.icon {
    display: inline-block;
    background: url(../img/sprite_may.png) no-repeat scroll transparent;
    transition: none;
}
/* --------------- */
.popup_delivery-list .icon__check-delivery{
    position: absolute;
    bottom: 0;
    right: 0;
}
.popup_delivery-list .icon__check-green {
    background: url("../img/icon-ok_green.png") center no-repeat;
    width: 15px;
    height: 15px;
}
.popup_delivery-list .icon__check-close {
    background: url("../img/icon-close.png") center no-repeat;
    width: 15px;
    height: 15px;
}
.popup__delivery p{
   margin-bottom: 10px;
}
.popup__delivery .popup-footer{
    padding: 15px 30px;
    border-radius: 0 0 4px 4px;
}
.popup__delivery .popup-footer_red{
    background-color: #FDE6E5;
    color: #EF2E23;
}
.popup__delivery .popup-footer_light{
    background-color: #f5f5f5;
    color: #000000;
}

@media (max-width: 767px){
    .popup__delivery .popup_header {
        padding: 15px 40px 15px 20px;
    }
    .popup__delivery .popup_body-section {
        padding: 20px;
    }
    .popup__delivery .popup-footer{
        padding: 15px 20px;
    }

    .popup_delivery-list .text-list_name-col {
        width: 58%;
    }
    .popup_delivery-list .text-list_value-col {
        width: 35%;
    }
    .popup_delivery-list .img-col {
        width: 7%;
    }
}
@media (max-width: 500px) {
    .popup_delivery-list .text-list_value-col {
        width: 53%;
    }
    .popup_delivery-list .text-list_name-col {
        width: 40%;
    }

    .popup_delivery-list .text-list_value-col .spec-cod {
        padding: 0;
    }
}
@media (max-width: 400px) {
    .popup_delivery-list .text-list_name {
        font-size: 12px;
    }
    .popup_delivery-list .text-list_value {
        font-size: 12px;
    }
    .popup_delivery-list .text-list_value-col:before {
        top: 80%;
    }
    .popup_delivery-list .text-list_name-col:after {
        top: 80%;
    }
    .popup_delivery-list .text-list_name {
        padding-right: 8px;
    }
    .popup_delivery-list .text-list_value {
        padding-left: 8px;
    }
}
