.popup__region{
    width: 540px;
}
.popup__region  .popup_body {
    max-height: initial;
    overflow: auto;
}
.popup__region .popup_header{
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
}
.popup__region .popup_body{
    padding: 0;
}
.popup_body-title{
    margin-bottom: 8px;
    padding: 0 30px;
}

.popup__region  .popup_secondary-txt{
    margin-bottom: 18px;
    padding: 0 30px;
}
.popup_secondary-txt {
    color: #737373;
    padding: 0 30px;
}
.popup__region .popup_close-btn {
    top: 16px;
    right: 16px;
    width: 17px;
    height: 17px;
}
.popup__region .css-big-close-icon {
    width: 17px;
    height: 17px;
}
.popup__region .css-big-close-icon:before,
.popup__region .css-big-close-icon:after {
    width: 20px;
    margin-top: -2px;
    margin-left: -2px;
}

.popup__region .form-row_input{
    display: table;
    width: 100%;
}
.form-row_input .rich-text-input,
.form-row_input .form-row_button{
    display: table-cell;
    vertical-align: top;

}
.form-row_input .rich-text-input{
    width: 75%;
    padding-right: 15px;
}
.form-row_input .form-row_button{
    width: 25%;
}
.form-row_button .region-btn{
    width: 100%;
    padding: 11px;
    background: #005ead;
    color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
    line-height: 18px;
}
.popup__region form{
    padding: 0 30px 30px 30px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px;
}

.popup__region .popup_low-title{
    font-size: 16px;
    line-height: 19px;
}
.icon__oma-check {
    background-position: -213px -56px;
    width: 19px;
    height: 12px;

}

.region-list,
.region-list-city{
    margin-bottom: 0;
}
.region-list li,
.region-list-city li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    position: relative;
}
.region-list li.icon__region-drop,
.region-list-city li.icon__region-drop{
    padding-right: 20px;
}
.popup__region .region-list .region-link,
.popup__region .region-list-city .region-link{
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: #005EAD;
    border-bottom: 1px dashed;
}

.popup_body-section{
    margin-bottom: 30px;
    padding: 0 30px;
}
.popup-footer{
    padding: 15px 0;
    text-align: center;
    background-color: #FDE0BF;
    border-radius: 0 0 4px 4px;
}
.popup-footer .popup_low-title{
    margin-bottom: 0;
}
.popup__region .css-plus-icon {
    background-color: #CCDFEF;
    margin-right: -4px;
}
.popup__region .icon__region{
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}
.popup__region .css-plus-icon{
    width: 15px;
    height: 15px;
}
.popup__region .css-plus-icon:after {
    height: 7px;
    width: 1px;
    margin-top: 0;
    margin-left: 0;
    top: 4px;
    left: 7px;
}
.popup__region .css-plus-icon:before {
    height: 1px;
    width: 7px;
    margin-top: 0;
    margin-left: 0;
    top: 7px;
    left: 4px;
}
.popup__region .css-plus-icon:before,
.css-plus-icon:after {
    background-color: #005EAD;
}
.region-list li:hover .css-plus-icon,
.region-list-city li:hover .css-plus-icon{
    background-color: #F79728;
}
.region-list li:hover .css-plus-icon:after{
    display: none;
}
.region-list li:hover .css-plus-icon:before{
    background-color: #ffffff;
}

.region_drop {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    left: 100%;
    z-index: 1;
    min-width: 200px;
    margin-left: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    box-shadow: 1px 1px 12px rgb(60 60 60 / 30%);
    transform-style: preserve-3d;
    display: none;
}
.region_drop li{
    display: inline-block;
    width: 100%;
    margin: 0;
}

.region_drop li a{
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 16px;
    color: #005EAD;
    border: none;
}
.region_drop li a:hover{
    background: #F5F5F5;

}
.region_drop:after {
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    border: 10px solid #ffffff;
    right: 93%;
    box-shadow: 1px 1px 12px rgb(60 60 60 / 30%);
    transform: translateZ(-1px) rotate(45deg);
}
.region_drop:before {
    content: '';
    position: absolute;
    top: calc(50% - 10px);
    border: 10px solid #ffffff;
    right: 93%;
    transform: rotate(45deg);
}
.region-list .icon__region-drop.active  .region_drop {
    display: inline-block;
}
.popup-footer .popup_low-title:before{
    content: '';
    background: url("../img/truck.png") center no-repeat;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
@media (max-width: 767px) {
    .popup__region .popup_header {
        padding: 10px 50px 20px 20px;
    }
    .popup_body-title {
        padding: 0 20px;
    }
    .region_drop {
        min-width: 200px;
    }
    .popup__region .popup_secondary-txt {
        padding: 0 20px;
    }
    .popup__region form {
        padding: 0 20px 30px 20px;
        margin-bottom: 30px;
    }
    .popup_body-section {
        padding: 0 20px;
    }
    .popup-footer .popup_low-title:before {
        content: none;
    }
    .popup-footer {
        text-align: left;
        padding: 15px 20px;
    }
    .region_drop {
        top: 100%;
        left: 0;
        margin-left: 0;
        margin-top: 15px;
    }
    .region_drop:before {
        top: -5%;
        right: 80%;
    }
    .region_drop:after {
        top: -5%;
        right: 80%;
    }
}
@media (max-width: 600px) {

}
@media (max-width: 400px){

    .form-row_input .rich-text-input {
        display: block;
        width: 100%;
        padding-right: 0;
    }
    .form-row_input .form-row_button {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}

