.popup__calc{
    width: 440px;
}
.popup__calc .popup_header {
    padding: 15px 45px 15px 15px;
    border-radius: 4px 4px 0 0;
}
.popup__calc .popup_body {
    padding: 0;
}
.popup__calc .popup_body-section {
    padding: 30px 25px;
    margin-bottom: 0;
    border-bottom: 1px solid #cccccc;
}
.popup__calc .popup_body-section:last-child {
    border-bottom: 0;
}
.popup__calc .section-block {
    margin-bottom: 30px;
}
.popup__calc .section-block:last-child {
    margin-bottom: 0;
}
.popup__calc .popup_body-title{
    font-weight: 500;
}
.popup__calc .popup_close-btn {
    top: 16px;
    right: 16px;
    width: 17px;
    height: 17px;
}
.popup__calc .css-big-close-icon {
    width: 17px;
    height: 17px;
}
.popup__calc .css-big-close-icon:before,
.popup__calc .css-big-close-icon:after {
    width: 20px;
    margin-top: -2px;
    margin-left: -2px;
}
.popup__calc .popup_title {
    font-weight: 500;
}
.popup-product{
    display: table;
    width: 100%;
}
.popup-product .popup-product_img,
.popup-product .popup-product_content{
    display: table-cell;
    vertical-align: top;
}
.popup-product .popup-product_img{
    width: 25%;
}
.popup-product .popup-product_content{
    width: 75%;
}
.popup-product_title{
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 500;
    margin: 0 0 5px 0;
}
.popup-product_params .param-name,
.popup-product_params .param-value{
    font-size: 14px;
    line-height: 20px;
    color: #737373;
}
.section-block_item{
    display: table;
    width: 100%;
}
.section-block_item .value-block{
    width: 65%;
    display: table-cell;
    vertical-align: middle;
}
.section-block_item .count-and-btn_count{
    width: 35%;
}
.popup__calc .count-box_minus,
.popup__calc .count-box_plus {
    background-color: #f5f5f5;
}
.popup__calc .popup-footer{
    display: table;
    width: 100%;
    padding: 15px 25px;
    background-color: #f5f5f5;
    border-radius: 0 0 4px 4px;
}
.popup__calc .popup-footer .popup-footer_left,
.popup__calc .popup-footer .popup-footer_right{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.popup__calc .popup-footer .popup-footer_right{
    text-align: right;
}
.popup__calc .calc-result{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.popup__calc .calc-btn {
    width: 130px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}
@media (max-width: 767px) {
    .popup__calc .popup_body-section {
        padding: 20px 20px;
    }
    .popup__calc .popup-footer {
        padding: 15px 20px;
    }
}
@media (max-width: 500px) {
    .section-block_item .count-and-btn_count {
        width: 45%;
    }
    .section-block_item .value-block {
        width: 55%;
    }
    .popup__calc .calc-result {
        font-size: 20px;
        line-height: 24px;
    }
}
