.register-card-block {
    display: table;
    width: 100%;
}
.register-card,
.register-card-img{
    display: table-cell;
    vertical-align: top;
}
.register-card {
    padding: 40px 40px 0 40px;
    width: 65%;
}

.register-card-img{
    width: 35%;
    padding: 0 10px;
}
.register-card-img img{
    display: inline-block;
    width: auto;
    padding: 0 10px;
    margin-right: -4px;
}
.register-card .form-row {
    margin: 0 -20px 40px -20px;
}

.register-card .form-row-block {
    width: 50%;
    display: inline-block;
    margin-right: -4px;
    padding-right: 20px;
    padding-left: 20px;
}
.register-card .form-text_pink,
.register-card .form-text_blue{
    border-radius: 4px;
    padding: 10px 15px;
}
.register-card .form-text_pink {
    background-color: #FDE6E5;
}
.register-card .form-text_blue{
    background-color: #E9F5E8;
}

.register-card .form-text {
    margin-bottom: 40px;
}
.register-card .text-light {
    color: #737373;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
}

.register-card .text-light {
    display: table;
}

.register-card .form-row .form-row_label {
    margin-bottom: 8px;
}

.register-card .form-row_label {
    position: relative;
}

.register-card .form-row_label:after {
    content: '\2605';
    position: absolute;
    color: red;
    font-size: 9px;
    display: inline-block;
    margin-left: 4px;
    margin-top: -4px;
}

.register-card .jq-selectbox {
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.register-card .jq-selectbox__select {
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    padding: 11px 0 11px 12px;
}

.register-card .jq-selectbox__select-text {
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.register-card .jq-selectbox__trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    background-color: #E5E5E5;
}

.register-card .jq-selectbox__trigger-arrow:after {
    position: absolute;
    top: 22%;
    right: 20%;
    content: '\3031';
    color: #000000;
    font-size: 12px;
    transform: rotate(-90deg);
}

.register-card .jq-selectbox__dropdown {
    top: 42px;
}

.register-card .jq-selectbox__dropdown {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.register-card .jq-selectbox li {
    padding: 11px;
}

.register-card .jq-selectbox li.selected,
.register-card .jq-selectbox li:hover {
    background-color: #CCC;
    color: #FFF;

}

.register-card .jq-selectbox.opened .jq-selectbox__trigger-arrow:after {
    transform: rotate(90deg);
    right: 25%;
}

.register-card .form-row_input input {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 11px;
}

.register-card .form-row_date {
    margin: 0 -10px;
}

.register-card .form-row_date .registr-select {

    padding: 0 10px;
    margin-right: -4px;
}
.register-card .form-row_date .registr-select-day{
    width: 30%;
}
.register-card .form-row_date .registr-select-month{
    width: 40%;
}
.register-card .form-row_date .registr-select-year{
    width: 30%;
}
.register-card .form-row_date .jq-selectbox__dropdown {
    width: 83%;
}
.register-card .form-row_date .jq-selectbox li {
    padding: 4px 11px;
    text-align: center;
}
.register-card .text-light_small{
    display: table;
    font-size: 13px;
    line-height: 18px;
    color: #737373;
}
.register-card .form-row_date .text-light_small {
    margin-top: 10px;
    padding: 0 10px;
}


.register-card .form-checkbox {
    display: inline-block;
    width: 35%;
    padding: 0 0 0 26px;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    vertical-align: top;
}

.register-card .form-checkbox .checkbox-visual,
.register-card .form-checkbox .radio-visual {
    position: absolute;
    top: 1px;
    left: 0;
}

.register-card .form-checkbox .radio:checked ~ .radio-visual {
    border-color: #f89728;
    border-width: 4px;
    box-shadow: none;
}
.register-card .text-input-numb{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25em;
    color: #000000;
    opacity: 0.5;
}
.register-card .form-row-block_big,
.register-card .form-row-block_small{
    vertical-align: bottom;
}
.register-card .form-row-block_small{
    width: 30%;
}
.register-card .form-row-block_big{
    width: 70%;
}
.register-card .form-row-block_big .text-light,
.register-card .form-row-block_big a{
    font-size: 13px;
    line-height: 18px;
}
.register-card .text-light .text-bold{
    white-space: nowrap;
}
.register-card .form-btn{
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 11px 24px;
    border-radius: 4px;
    margin-right: 24px;
    background: #005EAD;
    cursor: pointer;
}
.register-card .form-btn.disabled{
    opacity: 0.3;
    cursor: no-drop;
}
.register-card .form-btn-group{
    margin: 0 0 40px 0;
}
.register-card .form-btn:active{
    background-color: #f89728;
}
.register-card .form-btn:hover{
    background-color: #0077c0;
}


@media (max-width: 1269px) {
    .register-card {
        width: 80%;
    }
    .register-card-img img {
        margin-bottom: 20px;
    }
}
@media (max-width: 991px) {
    .register-card {
        width: 100%;
        display: block;
    }
    .register-card-img{
        display: none;
    }
    .register-card .jq-selectbox__select {
        padding: 10px 0 10px 8px;
    }
    .register-card .form-row_input input {
        padding: 10px;
    }
}
@media (max-width: 767px) {
    .register-card {
        padding: 20px 20px 0 20px;
    }
    .register-card .form-text {
        margin-bottom: 30px;
    }
    .register-card h1{
        font-size: 28px;
        line-height: 33px;
        text-align: left;
    }
    .register-card .form-row .form-row_label {
        font-size: 14px;
        line-height: 21px;
    }
    .register-card .form-row {
        margin: 0 0 24px 0;
    }
    .register-card .form-row-block {
        width: 100%;
        display: block;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .register-card .form-row-block:nth-child(2) {
        margin-top: 24px;
    }
    .register-card .form-row_date {
        margin: 0 -5px;
    }
    .register-card .form-row_date .registr-select {
        padding: 0 5px;
    }
    .register-card .form-btn {
        display: block;
        width: 100%;
    }
    .register-card .form-btn:nth-child(2) {
        margin-top: 20px;
    }
}
@media (max-width: 360px) {
    .register-card .form-row_date .registr-select-day {
        width: 33%;
    }
    .register-card .form-row_date .registr-select-month {
        width: 37%;
    }
    .register-card h1 {
        font-size: 25px;
        line-height: 28px;
    }
    .register-card .form-checkbox {
        width: 45%;
    }
}
