.popup__register-user{
    width: 400px;
}
.popup__register-user .popup_header {
    background-color: #F5F5F5;
    border-radius: 8px 8px 0 0;
    padding: 15px 65px 15px 30px;
}

.popup__register-user .popup_body {
    background-color: #F5F5F5;
    border-radius: 0 0 8px 8px;
    padding-top: 0;
    padding-bottom: 30px;
}
.popup__register-user .popup_close-btn {
    top: 14px;
    right: 14px;
    width: 17px;
    height: 17px;
}
.popup__register-user .css-big-close-icon {
    width: 17px;
    height: 17px;
}
.popup__register-user .css-big-close-icon:before,
.popup__register-user .css-big-close-icon:after {
    width: 20px;
    margin-top: -2px;
    margin-left: -2px;
}
.popup__register-user .popup_body-title{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 8px;
}
.popup__register-user .popup_secondary-txt{
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 30px;
}
.register-user_form label{
    display: block;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.register-user_form input{
    display: block;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 16px;
    color: #737373;
    outline: none;
}
.popup__register-user .checkbox-row {
    margin-top: 10px;
}
.popup__register-user label.register-user_password{
    position: relative;
}
.popup__register-user label.register-user_password:after{
    position: absolute;
    content: '';
    background: url("../img/eye.png") center no-repeat;
    right: 0;
    bottom: 0;
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 13px;
    margin-right: 13px;
}
.btn__register-user{
    border-radius: 4px;
    margin-top: 10px;
}
.popup__register-user .btns__block{
    margin: 25px 0 0;
}
.popup__register-user .btn__light{
    background-color: #E5E5E5;
    color: #001A34;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    border: none;
}
.popup__register-user .btn__light:hover{
   opacity: 0.9;
    border: 1px solid #CCCCCC;
}
.popup__register-user .link{
    display: inline-block;
}
.popup__register-user .link:first-child{
    margin-top: 25px;
}
.popup__register-user .text-green{
    color: #46AA42;
}
.btn__spinner{
    position: relative;
}
.btn__spinner:after{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    content: '';
    background: url("../img/20.gif") center no-repeat;
}
.popup__register-user .text-bottom{
    font-size: 13px;
    line-height: 17px;
    margin: 25px 0 0;
    color: #737373;
}
.popup__register-user.js-focus input{
    background: #e5e5e5;
}
.popup__register-user .btn__blue:active,
.popup__register-user .btn__blue:focus{
    background-color: #005EAD;;
    color: #80AED6 !important;
}
.popup__register-user.js-focus .js-btn_register.btn__spinner:after {
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

@media (max-width: 768px){
    .register-user_form input {
        padding: 15px 12px;
    }
    .register-user_form .btn__bigger {
        height: 48px;
        font-size: 15px;
    }
}

/*    success login    */

.popup_success-login{
    width: 460px;
    background-color: transparent;
    box-shadow: none;
}
.popup_success-login .popup_header{
    display: none;
}

.popup_success-login .popup_body{
    padding: 180px 0;
    background-color: transparent;
}
.popup_success-login .text-big{
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
}
.popup_success-login .btn{
    width: 300px;
    margin: 50px auto 0;
}
@media (max-width: 768px){
    .popup_success-login .popup_body{
        padding: 100px 0;
    }
    .popup_success-login .text-big{
        font-size: 30px;
    }
    .popup_success-login .btn{
        width: 240px;
        margin: 50px auto 0;
    }
}







/*.preloader-block{*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background-color: aquamarine;*/
/*    top: 0;*/
/*}*/
/*.preloader-block .list-item{*/
/*    position: relative;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 50%;*/
/*    background-color: #fafafa;*/
/*    top: calc(50% - 4px);*/
/*    left: calc(50% - 4px);*/
/*}*/

/*.preloader-block .list-item .item{*/
/*    width: 6px;*/
/*    height: 2px;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    background-color: #ffffff;*/
/*}*/
/*.preloader-block .list-item .item:nth-child(1){*/
/*    transform: translate(1px, 11px) rotate(*/
/*            90deg*/
/*    );*/
/*    */

/*}*/
/*.preloader-block .list-item .item:nth-child(2){*/
/*    transform: translate(6px, 9px) rotate(*/
/*            45deg*/
/*    );*/
/*    */

/*}*/
/*.preloader-block .list-item .item:nth-child(3){*/
/*    transform: translate(9px, 4px) rotate(*/
/*            0deg*/
/*    );*/
/*    */

/*}*/
/*.preloader-block .list-item .item:nth-child(4){*/
/*    transform: translate(7px, -2px) rotate(*/
/*            315deg*/
/*    );*/
/*    */

/*}*/
/*.preloader-block .list-item .item:nth-child(5){*/
/*    transform: translate(1px, -5px) rotate(*/
/*            270deg*/
/*    );*/
/*    */

/*}*/
/*.preloader-block .list-item .item:nth-child(6){*/
/*    transform: translate(-5px, -2px) rotate(*/
/*            225deg*/
/*    );*/
/*    */

/*}*/
/*.preloader-block .list-item .item:nth-child(7){*/
/*    transform: translate(-7px, 4px) rotate(*/
/*            180deg*/
/*    );*/

/*    */

/*}*/
/*.preloader-block .list-item .item:nth-child(8){*/
/*    transform: translate(-4px, 9px) rotate(*/
/*            135deg*/
/*    );*/


/*}*/
